.contact-form {
    width: 100%;
    margin-top: 20px;

    input,
    textarea,
    button {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        opacity: 0;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
    }

    .flat-button {
        color: #ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        margin-top: 8px;
        // float: left;
        // animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        background-color: transparent;

        &:hover {
            background-color: #ffd700;
            color: #333;
        }
    }
}