html {
  font-size: 62.5%;
}


body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 1.4;
  color: #444;
  /* background-color: #022c43; */
  background-color: #024334;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


